@page "/"
@inherits Sharenima.Client.ComponentCode.Index

<PageTitle>Index</PageTitle>

<h1>Create new instance</h1>
<p>Instance name:</p>
<MatTextField @bind-Value="InstanceName"/>
<MatButton OnClick="@CreateInstance">Create Instance</MatButton>
