@page "/"
@inherits Sharenima.Client.ComponentCode.Index

<PageTitle>Index</PageTitle>

<h1>Create new instance</h1>
<p>Instance name:</p>
<input @bind="InstanceName"/>
<button onclick="@CreateInstance()">Create Instance</button>
