@inherits Sharenima.Client.ComponentCode.Settings.Permissions

<h3>Permissions</h3>
@if (Users != null) {
    <MatAutocompleteList Items="Users.Select(item => item.Username)" TItem="string" Label="User" ValueChanged="ChangeSelectedUser"></MatAutocompleteList>
    if (SelectedUser != null && PermissionOptions.Count > 0) {
        <table>
            <tr>
                <th>Permission</th>
                <th>Allowed?</th>
            </tr>
            @{ var index = 0;}
            @foreach (var permission in PermissionOptions) {
                int loopIndex = index;
                <tr>
                    <td>@permission.PermissionDisplayName</td>
                    <td><input type="checkbox" id="perm-@permission.PermissionEnum" @bind="@PermissionOptions[loopIndex].Ticked" /></td>
                </tr>
                index++;
            }
        </table>
        <MatButton Raised="true" Icon="save" OnClick="SavePermissions">Save</MatButton>
    }
} else {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
}