@inherits Sharenima.Client.ComponentCode.SettingsIndex
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" onclick="@(() => {ChangeSettingsPage(nameof(Permissions));})">@nameof(Permissions)</a>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                @if (Page != null) {
                    <DynamicComponent Type="Page" Parameters="@Parameters"/>
                }
            </div>
        </div>
    </div>
</div>