@inherits Sharenima.Client.ComponentCode.Chat
<div>
    <p>Online users: @OnlineUsers</p>
    @if (UserList != null) {
        <MatList>
            @foreach (string userName in UserList) {
                <MatListItem>
                    @userName
                    <ChatMenu Username="@userName"></ChatMenu>
                </MatListItem>
            }
        </MatList>
    }
</div>