@page "/Player"
@using Sharenima.Shared
@inherits Sharenima.Client.ComponentCode.Player
@if (Video != null) {
    switch (Video.VideoType) {
        case VideoType.YouTube:
            <div id="player"></div>
            break;
        case VideoType.FileUpload:
            <video>
                <source src="@Video.Url" type="@Video.MediaType"/>
            </video>
        break;
    }
    
} else {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
}
