@page "/Player"
@inherits Sharenima.Client.ComponentCode.Player
@if (VideoId != null) {
    <div id="player"></div>
    <MatButton OnClick="Play"></MatButton>
} else {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
}
