@page "/Player"
@using Sharenima.Shared
@inherits Sharenima.Client.ComponentCode.Player
@if (Video != null) {
    switch (Video.VideoType) {
        case VideoType.YouTube:
            <div id="youtubeContainer">
                <h1>youtube</h1>
                <div id="player"></div>
            </div>
            break;
        case VideoType.FileUpload:
            <div id="fileUploadContainer">
                <h1>file upload</h1>
                <video id="mediaPlayer" controls>
                    <source src="@Video.Url" type="@Video.MediaType"/>
                </video>
            </div>
            break;
    }
    
} else {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
}
